{% if site.comments_enabled and page.comments %}
  <aside id="comments" class="isso">

    <div class="container">
      <h3><i class="icon icon-comments-o"></i> Comments</h3>
      <div id="isso_thread"></div>

      <script data-isso="https://comments.melashri.eu.org/"
                data-isso-avatar="true"
                data-isso-vote="true"               
                data-isso-vote-levels="-5,5"
                src="https://comments.melashri.eu.org/js/embed.min.js"></script><
        <section id="isso-thread"></section>

      <noscript>
        Please enable JavaScript to view the <a href="https://blog.melashri.net" rel="nofollow">comments powered by ISSO.</a>
      </noscript>
    </div>

  </aside>
{% endif %}
